:root {
    --font-family: "Cera Pro", sans-serif;
    --second-family: "Hanging Letters", sans-serif;

    --primary-gray-color: #3d3d3d;
    --primary-light-gray-color: #727272;
    --secondary-light-gray-color: #a5a5a5;
    --primary-green-color: #46a358;
    --primary-white-color: #ffffff;
    --dirty-white-color: #f4f4f4;
    --light-green-color: rgba(15, 100, 32, 0.93);
    --light-transparent-color: #eee;
    --hover-gray-color: #1a1a1a;
    --light-background-green-color: rgba(70, 163, 88, 0.1);
    --primary-red-color: #f03800;
  }

* {
	padding: 0;
	margin: 0;
	border: none;
    box-sizing: border-box;
}

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

button {
    border: none;
    outline: none;
    background: none;
    color: inherit;
    cursor: pointer;
}

html {
    overflow-y: scroll;
    scroll-behavior: smooth;
}

body {
    overflow-y: auto;
    margin-left: calc(100vw - 100%);
    margin-right: 0;
}