:root {
    --font-family: "Cera Pro", sans-serif;
    --second-family: "Hanging Letters", sans-serif;

    --primary-gray-color: #3d3d3d;
    --primary-light-gray-color: #727272;
    --primary-green-color: #46a358;
    --primary-white-color: #ffffff;
    --dirty-white-color: #f4f4f4;
    --light-green-color: rgba(15, 100, 32, 0.93);
    --light-transparent-color: rgba(70, 163, 88, 0.2);
    --hover-gray-color: #1a1a1a;
  }

* {
	padding: 0;
	margin: 0;
	border: none;
    box-sizing: border-box;
}

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}