.checkout-form-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.checkout-form {
    font-family: var(--font-family);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 35px;
}

.checkout-form__orders-info-container {
    flex: 1;
    gap: 25px;
}

/* Остальные стили оставляем без изменений */

.billing-form__notes {
    margin-top: 20px;
}

.billing-form__notes-label {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 15px;
    line-height: 100%;
    color: var(--primary-gray-color);
}

.billing-form__notes-textarea {
    font-family: var(--font-family);
    width: 100%;
    min-height: 6rem;
    padding: 0.75rem;
    border: 1px solid var(--light-transparent-color);
    border-radius: 3px;
    font-size: 15px;
    resize: vertical;
    transition: border-color 0.3s;
    margin-top: 10px;
}

.billing-form__notes-textarea:hover {
    cursor: text;
    border-color: var(--secondary-light-gray-color);
}

.billing-form__notes-textarea:focus {
    outline: none;
    border-color: var(--primary-green-color);
}

.billing-form__billing-info-container {
    flex: 2;
}

.billing-form__orders-info-container {
    flex: 1;
    gap: 25px;
}

.orders-info-container__title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 17px;
    line-height: 94%;
    color: var(--primary-gray-color);
    margin: 10px 0;
}

.orders-info-container__title:after {
    content: "";
    display: block;
    height: 1px;
    background-color: var(--light-transparent-color);
    margin-top: 10px;
}

.orders-info-container__orders {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 30px;
}

.orders-info-container__orders__buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: 100%;
    margin-top: -35px;
}

.buttons-container__submit-button {
    width: 100%;
}

.buttons-container__continue-shopping-button {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 15px;
    line-height: 107%;
    color: var(--primary-green-color);
    width: 100%;
    padding: 7px;
    text-align: center;
    background-color: transparent;
    transition: background-color 0.3s ease-in-out;

}

.error-message {
    font-family: var(--font-family);
    color: var(--primary-red-color);
    padding: 12px;
    background-color: rgba(255, 0, 0, 0.1);
    border-radius: 4px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.profile-link {
    font-family: var(--font-family);
    color: var(--primary-green-color);
    text-decoration: underline;
    font-weight: 500;
}

.error-container {
    padding: 20px;
    color: var(--primary-red-color);
    background-color: rgba(255, 0, 0, 0.1);
    text-align: center;
}