.header__wrapper {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.header__wrapper::after {
    content: '';
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--light-transparent-color);
    border-radius: 1px;
}

.application-management-panel {
    display: flex;
    align-items: center;
    column-gap: 30px;
}