/* styles.module.css */
.plants-administrator__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5px;
    margin-bottom: 15px;
    border-bottom: 1px solid var(--light-transparent-color);
    width: 100%;
}

.plantsAdministrator__header-title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 22px;
    line-height: 57%;
    color: var(--primary-gray-color);
}