/* Базовые стили кнопки */
.dark-green-button {
    border-radius: 6px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 8px 25px;
    background-color: var(--primary-green-color);
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    color: var(--primary-white-color);
    border: none;
    cursor: pointer;
    transition: background-color 0.3s linear;
    position: relative;
}

/* Стили для содержимого кнопки */
.button-content {
    display: inline-block;
}

/* Стили для иконки внутри кнопки */
.button-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Модификаторы для позиции иконки */
.with-icon-left {
    padding-left: 15px;
    flex-direction: row;
    gap: 10px;
}

.with-icon-right {
    padding-right: 15px;
    flex-direction: row-reverse;
    gap: 10px;
}

/* Состояние hover */
.dark-green-button:hover {
    background-color: var(--light-green-color);
}

.dark-green-button.outline {
    background-color: transparent;
    border: 2px solid var(--primary-green-color);
    color: var(--primary-green-color);
}