.cart-totals-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex: 1;
    width: 100%;
}

.cart-totals-container__title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: var(--primary-gray-color);

    width: 100%;
    padding: 0 0 17px;
    border-bottom: 1px solid var(--light-transparent-color);
}

.cart-totals-container__total-container {
    display: flex;
    width: 100%;
    padding: 15px 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.total-container__title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    color: var(--primary-gray-color);
}

.total-container__value {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    text-align: right;
    color: var(--primary-green-color)
}