.cart-module-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 35px;
}

.short-cart {
    flex-direction: column;
    gap: 35px;
}

.cart-totals-container{
    width: 100%;
    flex: 1;
}

.cart-totals-container__buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: 100%;
}

.buttons-container__accept-button {
    width: 100%;
}

.buttons-container__continue-shopping-button {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 15px;
    line-height: 107%;
    color: var(--primary-green-color);
    width: 100%;
    padding: 7px;
    text-align: center;
    background-color: transparent;
    transition: background-color 0.3s ease-in-out;
}